pulsar-client[avro]==3.5.0
supervisor==4.2.1
six==1.16.0
clickhouse-driver
fastapi==0.75.2
pycryptodome==3.18.0
psycopg2-binary==2.9.3 
python-dateutil>=2.8.2
redis==3.5.3
validators==0.20.0 
pyahocorasick==1.4.0
psutil==5.7.2
PyYAML
SQLAlchemy>=2.0.0
redis-py-cluster==2.1.3 
requests-toolbelt==1.0.0 
python-redis-lock==4.0.0 
esdk-obs-python>=3.24.3
cos-python-sdk-v5>=1.9.28
boto3[crt]>=1.34.106
OsS2>=2.18.5
aiohttp
pandas>=2.2.3
matplotlib
numpy
seaborn
BeautifulSoup4
pytest
requests
httpx
confluent-kafka
kafka-python
markitdown
autopep8
uvicorn