GIT_AUTHOR_NAME=
GIT_AUTHOR_EMAIL=
GIT_COMMITTER_NAME=
GIT_COMMITTER_EMAIL=

PULSAR_HOST=
PULSAR_BROKER_PORT=

PULSAR_ADMIN_PORT=
PULSAR_TOKEN=
PULSAR_SCHEMA_PATH=
PULSAR_DATA_PATH=

PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

# MySQL相关配置
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=

# Kafka相关配置
KAFKA_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_CONTROLLER_PORT=
KAFKA_ADVERTISED_HOST=

# Flink相关配置
FLINK_WEB_PORT=

# REDISCLI_AUTH=''
REDIS_HOST=
REDIS_PORT=
REDIS_INSIGHT_PORT=

# Nginx相关配置
NGINX_PORT=

# Clickhouse相关配置
CLICKHOUSE_USER=
# CLICKHOUSE_PASSWORD=
CLICKHOUSE_HOST=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_PORT=
CLICKHOUSE_INTERSERVER_PORT=
CLICKHOUSE_DATABASE=

# MinIO相关配置
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=

# MONGO相关配置
MONGO_HOST=
MONGO_PORT=

# Python pip mirror
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple
PIP_TRUSTED_HOST=mirrors.aliyun.com

GOPROXY=

GOPATH=
GOBIN=
GO111MODULE=
