GIT_AUTHOR_NAME=
GIT_AUTHOR_EMAIL=
GIT_COMMITTER_NAME=
GIT_COMMITTER_EMAIL=

PULSAR_HOST=
PULSAR_BROKER_PORT=

PULSAR_ADMIN_PORT=
PULSAR_TOKEN=
PULSAR_SCHEMA_PATH=
PULSAR_DATA_PATH=

PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=
PGPORT=

# REDISCLI_AUTH=''
REDIS_HOST=
REDIS_PORT=

# Clickhouse相关配置
CLICKHOUSE_USER=
# CLICKHOUSE_PASSWORD=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_DATABASE=

# MONGO相关配置
MONGO_HOST=
MONGO_PORT=

# Python pip mirror
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple
PIP_TRUSTED_HOST=mirrors.aliyun.com

GOPROXY=

GOPATH=
GOBIN=
GO111MODULE=
