[submodule "cpp/lib/rapidjson"]
	path = cpp/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "cpp/lib/pystring"]
	path = cpp/lib/pystring
	url = https://github.com/imageworks/pystring.git
[submodule "cpp/lib/cJSON"]
	path = cpp/lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "cpp/lib/DataStructure"]
	path = cpp/lib/DataStructure
	url = https://github.com/mental1104/DataStructure.git
	branch = main
[submodule "cpp/thirdparty/googletest"]
	path = cpp/thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp/lib/hiredis"]
	path = cpp/lib/hiredis
	url = git@github.com:redis/hiredis.git
[submodule "cpp/lib/redis-plus-plus"]
	path = cpp/lib/redis-plus-plus
	url = git@github.com:sewenew/redis-plus-plus.git
