matplotlib
psycopg2-binary>=2.9 
sqlalchemy 
requests 
redis>=5.0 
pulsar-client>=2.10 
pulsar-client[avro]
pycryptodome 
aiohttp 
genanki
pytest
pytest-asyncio
pytest-mock
pytest-benchmark
pytest-leaks
memray
autopep8
coverage
ruamel.yaml
ruff
ujson
orjson