matplotlib
psycopg2-binary>=2.9 
sqlalchemy 
requests 
redis>=5.0 
pulsar-client>=2.10 ; sys_platform != "win32"
pulsar-client[avro] ; sys_platform != "win32"
pycryptodome 
aiohttp 
genanki
fastapi
starlette
httpx
pytest
pytest-asyncio
pytest-mock
pytest-benchmark
pytest-leaks ; sys_platform != "win32"
memray ; sys_platform != "win32"
autopep8
coverage
tzdata ; sys_platform == "win32"
backports.zoneinfo ; python_version < "3.9"
ruamel.yaml
ruff
ujson
orjson
semgrep
pybind11
pypdf
mental1104_export_layer @ file://../export/python
